.buttons-player {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 12px;
  transition: 0.3s;
}

.buttons-player > img {
  transition: 0.3s;
  opacity: 0.8;
  cursor: pointer;
}

.buttons-player > img:hover {
  opacity: 1;
}
